{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "version": "2.0.0",
    "description": "Demo API for browsing Pokemon, abilities, and type resources."
  },
  "servers": [{ "url": "https://pokeapi.co/api/v2", "description": "Sandbox" }],
  "paths": {
    "/pokemon/{name}": {
      "get": {
        "operationId": "getPokemon",
        "summary": "Get a Pokemon",
        "description": "Returns a Pokemon by name or numeric identifier.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Pokemon name or ID, for example pikachu.",
            "schema": { "type": "string" },
            "example": "pikachu"
          }
        ],
        "responses": {
          "200": {
            "description": "Pokemon resource",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Pokemon" }
              }
            }
          },
          "404": { "description": "Pokemon not found" }
        }
      }
    },
    "/pokemon": {
      "get": {
        "operationId": "listPokemon",
        "summary": "List Pokemon",
        "description": "Returns a paginated list of Pokemon resources.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results.",
            "schema": { "type": "integer", "default": 20 },
            "example": 20
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": { "type": "integer", "default": 0 },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Pokemon results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NamedResourcePage" }
              }
            }
          }
        }
      }
    },
    "/type/{name}": {
      "get": {
        "operationId": "getType",
        "summary": "Get a type",
        "description": "Returns damage relations and Pokemon for a type.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Type name, for example electric.",
            "schema": { "type": "string" },
            "example": "electric"
          }
        ],
        "responses": {
          "200": { "description": "Type resource" },
          "404": { "description": "Type not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pokemon": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "height": { "type": "integer" },
          "weight": { "type": "integer" }
        }
      },
      "NamedResourcePage": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" },
          "next": { "type": "string" },
          "previous": { "type": "string" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "url": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
