{
  "openapi": "3.0.3",
  "info": {
    "title": "PokeAPI",
    "description": "OpenAPI definition for the public PokeAPI demo endpoints used by the developer portal sandbox.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2"
    }
  ],
  "paths": {
    "/pokemon/{name}": {
      "get": {
        "operationId": "getPokemonByName",
        "summary": "Get a Pokemon by name or id",
        "description": "Returns Pokemon data for a supplied name or numeric id.",
        "tags": ["Pokemon"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Pokemon name or id, such as pikachu or 25.",
            "schema": {
              "type": "string",
              "example": "pikachu"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pokemon found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "404": {
            "description": "Pokemon not found."
          }
        }
      }
    },
    "/type": {
      "get": {
        "operationId": "listPokemonTypes",
        "summary": "List Pokemon types",
        "description": "Returns a paginated list of Pokemon types.",
        "tags": ["Pokemon"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of types to return.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pokemon type list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedResourceList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NamedApiResource": {
        "type": "object",
        "required": ["name", "url"],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NamedResourceList": {
        "type": "object",
        "required": ["count", "results"],
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedApiResource"
            }
          }
        }
      },
      "Pokemon": {
        "type": "object",
        "required": ["id", "name", "height", "weight"],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "height": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
